<input type = "hidden" ng-model="edit_item['show_id']">

<label>Show name</label>
<input type = "text" ng-model="edit_item['name']">

<label>Show description</label>
<input type = "text" ng-model="edit_item['description']">

<label>Show image - thumbnail</label>
<img src = "/public/images/uploads/{{edit_item['image_thumbnail']}}">
<input type = "submit" value = "Choose image" ng-click="choose_relation(edit_item, 'image_thumbnail', 'images')">

<label>Show image - large</label>
<img src = "/public/images/uploads/{{edit_item['image_banner']}}">
<input type = "submit" value = "Choose image" ng-click="choose_relation(edit_item, 'image_banner', 'images')">

<label>Show date</label>
<input type = "date" ng-model="edit_item['date']">

<label>Show frequency</label>
<select ng-model="edit_item['frequency']">
	<option ng-selected="edit_item['frequency'] == 'daily'">Daily</option>
	<option ng-selected="edit_item['frequency'] == 'weekly'">Weekly</option>
	<option ng-selected="edit_item['frequency'] == 'monthly'">Monthly</option>
</select>

<label>Show featured</label>
<input type = "checkbox" ng-model="edit_item['featured']">

<input type = "submit" value = "Update" ng-click="update()">

<input type = "submit" value = "Delete" ng-click="delete()" class="delete">