<input type = "hidden" ng-model="edit_item['banner_id']">

<label>Banner name</label>
<input type = "text" ng-model="edit_item['name']">

<label>Banner description</label>
<input type = "text" ng-model="edit_item['description']">

<label>Banner image</label>
<img src = "/public//images/uploads/{{edit_item['image_banner']}}">
<input type = "submit" value = "Choose image" ng-click="choose_relation(edit_item, 'image_banner', 'images')">

<label>Banner url</label>
<input type = "text" ng-model="edit_item['url']">

<input type = "submit" value = "Update" ng-click="update()">

<input type = "submit" value = "Delete" ng-click="delete()" class="delete">

