body {
	background: lightgray;
	margin:0;
	padding:0;
}



.navigation {
	position: relative;
	width:100%;
	height:50px;
	line-height:50px;
	background:black;

	display:flex;
	flex-flow:row wrap;
	justify-content: flex-start;
}

.navigation a {
	display:block;
	min-width:100px;
	height:100%;
	background:lightblue;
	color:white;
	margin:0 20px 0 20px;
	text-align:center;
	text-decoration: none;
}

.navigation a:hover {
	background:red;
	color:black;
}


.listing {
	position: relative;
	width:100%;
	display:flex;
	flex-direction: column;
	justify-content: flex-start;
}


.leftcol {
	position: absolute;
	top:100px;
	left:150px;
	width:calc(50% - 150px);
	max-height:calc(100% - 150px);
	overflow-y:scroll;
}


.listing .item {
	width: 100%;
    box-sizing: border-box;
    height: 150px;
    background: lightblue;
    border-top: solid 1px black;
    padding: 15px;
    font-size: 22px;
    cursor: pointer;
}

.listing .item:hover {
	filter:brightness(0.8);
}

.listing .selected {
	background:gray;
}

.new {
	background:green;
}


.item img {
	max-height:100%;
	cursor: pointer;
}


.rowlist {
	position: relative;
	width:100%;
	display:flex;
	flex-flow:row wrap;
	justify-content: flex-start;
}

.rowlist .item {
	width: 200px;
    height: 200px;
    margin: 15px;
    overflow: hidden;
    background:black;
    text-align: center;
    color:white;
    cursor: pointer;
}


.rowlist .upload {
	width:100%;
	height:100px;
}



.form {
	position: absolute;
	top:100px;
	left:50%;
	width:calc(50% - 150px);
	border:solid 1px black;
	padding:15px;
}

.form .add, .form .edit {display: none}


.form label {
	display:block;
}

form img, .form img {width:64px;}
#file-input {display:none;}
.form input {
	width:80%;
	margin-bottom:10px;
}

.form input[type='submit'] {
	width:40%;
	max-width:150px;
}


input.delete {
	background:red;
}



.lightbox {
	position: absolute;
	top:100px;
	left:150px;
	width:calc(50% - 150px);
	height:calc(100% - 100px);
	background:rgba(0,0,0,0.8);
	display:none;
	border:solid 2px black;
	overflow-y:scroll;
}

#lightbox-images, #lightbox-residents, #lightbox-shows {display:none;}




.close_window {
	position: absolute;
	top:0;
	right:0;
	width:20px;
	height:20px;
	cursor:pointer;
	background:red;
}



input[type='checkbox'] {
	left: 0;
    width: 30px;
    display: block;
}


#message {
	position: absolute;
	top:100px;
	left:35%;
	width:30%;
	min-height:300px;
	background:rgba(0,0,0,0.6);
	display:none;
	font-size:30px;
	color:red;
	text-align: center;
	line-height:300px;
}