
<!-----------==== IMAGE HERE ====------------>
<div class="background-image">
  <img src = "public/images/main/about-background.jpg">

</div>



<!-----------==== TEXT HERE ====------------>
<div class="text-about">
<h1>
  Broadcasting 24/7 from Guadalajara and worldwide.


For radio show proposals, volunteering, partnerships, and feedback write to us at 
<a href="mailto:internetpublicradio.live?Subject=hello">internet public radio</a>.
Also follow us on <a href="#">Facebook,</a> <a href="#">Twitter,</a> and <a href="#">Instagram.</a>
</h1>
</div>