<h2 class = "show_heading">Residents</h2>
<h3 class= "show_heading sub-title"> - browse through our list of over 100 international residents</h4>
<div class = "featured_list">

  <div class = "featured">

  			<div class = "featured-image tile-active">
  				<a href="#" target="blank">
  				<img src = "images/residents-tiles/313-tile.jpg"></a>
  			</div>
  			<a class = "description" href = "#">
  				<span class = "title">313 w/ Juan Ramirez</span>
  				<span class = "genre">fortnightly</span>
  			</a>
  		</div>